@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    671 S High St<br />
    Columbus, OH 45206<br />
    <abbr title="Phone">P:</abbr>
    614.445.5301
</address>

<address>
    <strong>Email:</strong> <a href="mailto:wilkinm@grangeinsurance.com">wilkinm@grangeinsurance.com</a>
</address>
