@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Headquarters</h3>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="~/images/map.png"/>
		</div>
		<div class="col-md-6">
			<address>
				671 S High St<br/>
				Columbus, OH 43206<br/>
				<abbr title="Phone">P:</abbr>
				614.445.5301<br/><br/>

				<strong>Email:</strong> <a href="mailto:wilkinm@grangeinsurance.com">wilkinm@grangeinsurance.com</a>
			</address>
		</div>
	</div>
</div>

